@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

*::selection{
    background-color: var(--accent);
    color: #fff;
}

:root{
    --txtcor: #1f0a0c;
    --bgcor: #f6e4e6;
    --prin: #61ccc3;
    --seg: #eec9cc;
    --accent: #61ccc3;
    --granfnt: 3.6rem;
    --pfnt: .9rem;
    --subfnt: 1.5rem;
}

body{
    overflow-x: hidden;
}

.branco{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    height: 70px;
    background-color: var(--bgcor);
    padding: 0 10px;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    right: 0;
    padding: 14px 0;
    background-color: #285551;
    z-index: 10;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.logo h1{
    color: white;
    font-size: 1.8rem;
    transition: .4s;
    letter-spacing: 2px;
    cursor: pointer;
}

.logo h1:hover{
    letter-spacing: 4px;
    color: var(--accent);
}
.logo h1:hover span{
    color: white;
}


.logo h1 span{
    color: var(--accent);
    transition: .4s;
}

nav ul{
    display: flex;
    gap: 30px;
}

nav a{
    display: block;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    transition: .4s;
}

nav a:hover{
    transform: translateY(-5px);
}

nav a::after{
    content: "";
    display: block;
    width: 20px;
    height: 1.5px;
    transition: .4s;
    background-color: orangered;
}

nav a:hover::after{
    width: 40px;
}

.bar{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    display: none;
    cursor: pointer ;
    -webkit-tap-highlight-color: transparent
}

.menu{
    display: block;
    background-color: white;
    height: 1.5px;
    width: 20px;
    transition: .4s;
}

.menu::after{
    content: "";
    display: block;
    width: 20px;
    height: 1.5px;
    background-color: var(--accent);
    margin-top: 7px;
    transition: .4s;
    bottom: 0;
    position: relative;
}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 30px;
    width: 100%;
    background: radial-gradient(circle, rgb(161, 177, 192), #90cac5, #6cada8, #6ea8ac);
}


#home .esq{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .dir{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.dir img{
    filter: drop-shadow(7px 7px rgb(48, 173, 90));
}

.esq .cont h1{
    font-size: var(--granfnt);
    color: var(--txtcor);
}

#produtos{
    height: 50em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(43, 80, 102);
}

.quad{
    position: absolute;
    background-color: rgb(236, 108, 61);
    width: 320px;
    height: 320px;
    right: 80px;
    transform: rotate(40deg);
    box-shadow: -100px 75px rgb(23, 114, 156), -200px 175px rgb(41, 126, 112) ,
     -300px 220px rgb(25, 81, 85), -400px 320px rgb(129, 31, 129), -500px 420px rgb(109, 186, 209);
}

aside{
    position: absolute;
    right: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;

}

.prin{
    z-index: 1;
    transition: .4s;
}

.prin.animei{
    margin-right: 12px;
    filter: drop-shadow(10px 0 rgb(105, 105, 189));
}

.bola{
    background-color: var(--accent);
    border-radius: 50%;
    transition: .4s;
}

.bola:hover{
    transform: translateX(-7px);
    box-shadow: 8px 0 rgb(73, 65, 190);
}

.bola img{
    max-width: 103px;
}

.bola:nth-child(2){
    background-color: pink;
}
.bola:nth-child(3){
    background-color: rgb(86, 199, 120);
}

#empresa{
    padding: 130px 1%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: var(--bgcor);
}

#empresa button{
    padding: 5px 20px;
}

.caixa.escurin{
    background-color: black;
}

.container{
    width: 94%;
    padding: 3%;
    background-color: var(--prin);
    display: flex;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

.caixa:nth-child(2){
    background-color: rgb(233, 198, 235);
}
.caixa:nth-child(3){
    background-color: rgb(198, 235, 201);
}

.caixa{
    width: 310px;
    min-width: 100px;
    min-height: 350px;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 12px 4px rgb(17, 90, 84);
}

.caixa i{
    font-size: 2.3rem;
    text-align: center;
    color: var(--prin);
}

.caixa h2{
    font-size: var(--subfnt);
    color: var(--txtcor);
}

.caixa p{
    font-size: var(--pfnt);
    color: var(--txtcor);
}

.caixa h2::after{
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: var(--accent);
    margin-top: 15%;
    margin-left: 10px;
}

.logo{
    display: inline-block;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: rgb(32, 75, 51);
}

.listona{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.listinha h2{
    font-size: 1.2rem;
    margin-bottom: 16px;
    color: white;
}

.listinha a{
    display: inline-block;
    font-size: var(--pfnt);
    color: rgb(173, 164, 164);
    transition: .4s;
}


.listinha a:hover{
    transform: translateX(-6px);
    color: white;
    filter: drop-shadow(10px 0 1px rgb(42, 161, 190, .60))
}

.listinha hr{
    margin-bottom: 10px;
    width: 30px;
    color: rgb(60, 131, 153);
}

.social i{
    font-size: 1.6rem;
    color: white;
    transition: .4s;
}

.social i:hover{
    color: var(--accent);
}

footer .logo{
    margin-bottom: 10px;
}

#itens{
    display: grid;
    padding: 30px 80px;
    background-color: var(--bgcor);
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
    grid-gap: 40px;
    width: 100%;
}

.compra h5{
    margin-left: 20px;
    margin-top: 7px;
}

#itens .compra{
    width: 300px;
    background-color: white;
    height: 420px;
    padding: 12px;
    text-align: center;
    border-radius: 20px;
}
.compra p{
    font-size: .9rem;
}

.compra img{
    max-width: 230px;
    background-color: rgb(226, 226, 226);
    transition: .4s;
}
.compra img:hover{
    transform: scale(1.18) rotate(5deg);
}
.compra .imfone{
    overflow: hidden;
}

.compra button{
    width: 60%;
    padding: 6px 0;
    margin-top: 20px;
    outline: none;
    border: 2px solid white;
    background-color: rgb(48, 113, 143);
    border-radius: 10px;
    transition: .4s;
}

.texto h4::after{
    content: "";
    display: block;
    width: 100px;
    height: 1.5px;
    background-color: orangered;
    margin-bottom: 5px;
}

.compra button:hover{
    width: 75%;
    background-color: orangered;
    box-shadow: 0 5px rgb(48, 113, 143);
}

.compra .texto{
    text-align: start;
}

.compra button a{
    display: block;
    color: white;
    font-weight: 600;
}

#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100vh;
    padding: 0 20px;
}

#inicio .retan{
    width: 1000px;
    max-height: 520px;
    background-color: rgb(164, 223, 223);
    padding: 40px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 7px rgb(116, 116, 116);
    margin-top: 200px;
    overflow: hidden;
    position: relative;
}

.retan h1{
    margin-bottom: 20px;
    color: var(--txtcor);
}

.retan h1::after{
    content: "";
    display: block;
    width: 80px;
    height: 1.5px;
    margin-left: 52%;
    background-color: orangered;
}

.retan .circ{
    border-radius: 50%;
    position: absolute;
    height: 500px;
    width: 500px;
    background-color: transparent;
    backdrop-filter: saturate(0);
    top: 120px;
    left: -80px;
    z-index: 0;
    box-shadow: 10px 10px 10px black;
}

#dois{
    max-height: 45em;
    background-color: rgb(104, 59, 148);
    margin-top: 100px;
    display: flex;
    position: relative;
    padding: 20px;
}

#dois .texto{
    width: 60%;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    color: white;
}

#dois .texto::after{
    content: "";
    display: block;
    height: 200px;
    width: 3px;
    background-color: orangered;
    transform: rotate(10deg);
    margin: 0 40px;
}

#dois h3{
    font-size: 1.7rem;
}

#dois article{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

article i{
    font-size: 4rem;
    color: white;
    z-index: 5;
    transition: .4s;
}

.bgi{
    position: absolute;
    top: -30px;
    pointer-events: none;
}
.bgi i{
    font-size: 10rem;
    opacity: 10%;
    filter: blur(2px);
    color: white;
    opacity: 0;
    position: relative;
    right: 50px;
}

article a i:hover .bgi i{
    opacity: 15%;
}

article a i:hover{
    color: aqua;
    transform: translateY(-5px);
}

@media(max-width:1108px){
    #itens{
        grid-gap: 40px;
        justify-content: center;
        align-items: center;
    }

    #itens .compra{
        width: 250px;
    }
}

@media (max-width: 990px){
    footer{
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 906px){
    .container{
        flex-direction: column;
        width: 380px;
    }

    #itens{
        grid-row-gap: 35px;
    }

    #itens .compra{
        width: 200px;
        height: 400px;
    }

    .imfone img{
        padding-right: 50px;
    }
}

@media (max-width: 800px){
    :root{
        --granfnt: 2.6rem;
        --pfnt: .8rem;
        --subfnt: 1.4rem;
    }

    #dois{
        flex-direction: column;
    }

    #dois article{
        width: 100%;
        margin-bottom: 50px;
    }

    #dois .texto{
        flex-direction: column;
    }

    #dois .texto::after{
        width: 80%;
        height: 3px;
        transform: rotate(3deg);
        margin-top: 20%;
        margin-left: 50%;
    }

    aside{
        right: 30px;
    }

    #home{
        flex-direction: column;
        height: auto;
    }

    #produtos{
        height: auto;
        padding: 70px 0;
    }

    #home .dir{
        width: 100%;
        height: 50%;
    }
    #home .esq{
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .quad{
        height: 200px;
        width: 200px;
    }

    #home img{
        max-width: 370px;
    }

    #produtos .prin img{
        max-width: 400px;
    }

    aside .bola img{
        max-width: 80px;
    }
}
@media (max-width: 728px){
    .bar{
        display: flex;
    }

    nav ul{
        visibility: hidden;
        position: fixed;
        z-index: 100;
        left: -150px;
        transition: .4s;
        display: block;
        background-color: #285551;
        border-radius: 14px;
        padding: 15px;
        top: 120px;
    }

    nav li{
        margin: 10px 15px;
    }

    header.ativei ul{
        left: 20px;
        visibility: visible;
    }

    header.ativei .menu{
        transform: rotate(140deg);
    }

    header.ativei .menu::after{
        transform: rotate(80deg);
        position: relative;
        bottom: 6px;
    }

    footer .listona{
        grid-template-columns: repeat(3, 1fr);
    }

    .imfone img{
        padding-right: 0;
    }

    #itens .compra{
        width: 250px;
        height: 420px;
    }
    #itens{
        grid-gap: 30px;
        grid-template-columns: repeat(2, 0fr);
    }
}

@media (max-width: 598px){

    #produtos{
        flex-direction: column;
    }
    
    #produtos aside{
        position: static;
        flex-direction: row;
    }

    aside .bola:hover{
        transform: translateX(0);
        transform: translateY(-7px);
        box-shadow: 0 8px rgb(73, 65, 190);
    }

    #itens{
        grid-template-columns: repeat(1, 0fr);
    }
}

@media (max-width: 516px){
    footer .listona{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .container{
        width: 350px;
    }

    .bgi i{
        font-size: 4rem;
        top: 20px;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 410px){
    #dois article{
        display: grid;
        grid-template-columns: repeat(2, 0fr);
        margin-top: 50px;
    }
}

@media (max-width: 388px){

    #home .dir img{
        width: 280px;
    }
    #produtos .prin img{
        max-width: 260px;
    }

    #produtos .bola img{
        width: 60px;
    }

    .container{
        width: 250px;
    }

    .caixa{
        width: 85%;
    }

    .branco h1{
        font-size: 1rem;
    }
}

@media (max-width: 314px){
    footer .listona{
        grid-template-columns: repeat(1, 1fr);
    }
}